<div class="panel panel-default">
  <div class="panel-body">
    <div id="mapFrame"></div>
    <!-- Build the map using Leaflet.js -->
    <script type="text/javascript">
      (async() => {
       
        // Function to display set the width of the progress bar
        function displayProgressBars()
        {
          const beginMandate = new Date('2020-09-24T00:00:00');
          const endMandate = new Date('2026-04-05T00:00:00');
          const today = new Date();
          const mandatePercentProgress = ((today - beginMandate) / (endMandate - beginMandate)) * 100;
          const schoolProgressSum = Object.values(traficJson).reduce((a, b) => a + b.trafic_progression,0); 
          const schoolProgressPercent = schoolProgressSum / nantesGeoJson.features.length * 100;

          disp( Math.round( mandatePercentProgress ), "mandateTimeProgressBar");
          disp( Math.round( schoolProgressPercent ), "nantesSchoolProgressBar");
        }

        const [nantesGeoJsonResponse, traficResponse] = await Promise.all ([fetch('./assets/nantes/nantes.geojson'), fetch('./assets/nantes/trafic.json')]);
        const [nantesGeoJson, traficJson] = await Promise.all([nantesGeoJsonResponse.json(), traficResponse.json()]);


        let LAT_MIN = Number.MAX_VALUE;
        let LAT_MAX = -Number.MAX_VALUE;
        let LGT_MIN = Number.MAX_VALUE;
        let LGT_MAX = -Number.MAX_VALUE;

        nantesGeoJson.features.forEach((feature) => {
          if (!feature.geometry){
            console.log(`feature without no geometry : ${JSON.stringify(feature)} ` );
            return;
          }
          if (feature.geometry.type === "Point"){
            LGT_MIN = Math.min(LGT_MIN, feature.geometry.coordinates[0]);
            LGT_MAX = Math.max(LGT_MAX, feature.geometry.coordinates[0]);
            LAT_MIN = Math.min(LAT_MIN, feature.geometry.coordinates[1]);
            LAT_MAX = Math.max(LAT_MAX, feature.geometry.coordinates[1]);           
          }
        });

        const BOUNDS_PADDING = 0.01;
        const NANTES_BOUNDS = [ [LAT_MIN - BOUNDS_PADDING, LGT_MIN - BOUNDS_PADDING], [LAT_MAX + BOUNDS_PADDING, LGT_MAX + BOUNDS_PADDING] ];

        // Create the map with Mapbox tiles
        const map = L.map('mapFrame',
          {
            fullscreenControl: true,
            maxBounds: NANTES_BOUNDS,
            maxBoundsViscosity: 2.0,
            minZoom: 10
          }) ;
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 50,
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        map.fitBounds(NANTES_BOUNDS) ;


        const completedTraficGeoJson = { "type": "FeatureCollection", "features": []};
        const notCompletedTraficGeoJson = { "type": "FeatureCollection", "features": []};
        const imperfectTraficGeoJson = { "type": "FeatureCollection", "features": []};

        const greyIcon = new L.Icon({
          iconUrl: '/assets/markers/marker-icon-2x-grey.png',
          shadowUrl: '/assets/markers/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        const greenIcon = new L.Icon({
          iconUrl: 'assets/markers/marker-icon-2x-green.png',
          shadowUrl: 'assets/markers/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        const orangeIcon = new L.Icon({
          iconUrl: 'assets/markers/marker-icon-2x-orange.png',
          shadowUrl: 'assets/markers/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        const yellowIcon = new L.Icon({
          iconUrl: '/assets/markers/marker-icon-2x-yellow.png',
          shadowUrl: '/assets/markers/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });


        nantesGeoJson.features.forEach((feature) => {
          if (traficJson.hasOwnProperty(feature.properties.numero_uai)){
            feature.properties = {
               ...feature.properties,
               ...traficJson[feature.properties.numero_uai]
            };            
            
          } else {
              feature.properties.trafic_progression = 0.0;              
          } 

          if (feature.properties.trafic_progression === 1.0) {
            completedTraficGeoJson.features.push(feature);
          } else if (feature.properties.trafic_progression === 0.0) {
            notCompletedTraficGeoJson.features.push(feature);
          } else {
            imperfectTraficGeoJson.features.push(feature);
          }          
        });

       
        const computePointFeatureStyle = (feature, latlng) => {
          let icon = greyIcon;

          if (feature.geometry.type === "Point"){
            if (!feature.properties.trafic_progression || feature.properties.trafic_progression === 0.0) {
              icon = greyIcon;
            } else  if (feature.properties.trafic_progression === 1.0) {
              icon = greenIcon;
            } else {
              icon = orangeIcon;
            }
          }

          const marker = L.marker(latlng, {icon: icon});
          const popupContent = `
            <div class="marker-popup">
              <h4>${feature.properties.appellation_officielle}</h4>
              <p>${feature.properties.adresse_uai} <br/>${feature.properties.code_commune} ${feature.properties.libelle_commune}</p>
              <p>Avancement: ${feature.properties.trafic_progression *100}%</p>
            </div>
          `;
          marker.bindPopup(popupContent).openPopup();
          return marker;
        };

        const notCompletedTraficLayer = L.geoJSON(notCompletedTraficGeoJson, {pointToLayer: computePointFeatureStyle});
        const completedTraficLayer = L.geoJSON(completedTraficGeoJson, {pointToLayer: computePointFeatureStyle});
        const imperfectTraficLayer = L.geoJSON(imperfectTraficGeoJson, {pointToLayer: computePointFeatureStyle});

        notCompletedTraficLayer.addTo(map);
        completedTraficLayer.addTo(map);
        imperfectTraficLayer.addTo(map);


        const completedTraficLayerName = 'Réalisé satisfaisant';
        const notCompletedTraficLayerName = 'Non réalisé';
        const imperfectTraficLayerName = 'Réalisé insatisfaisant';

        const legendNameLayerMap = {
          [completedTraficLayerName] : completedTraficLayer,
          [notCompletedTraficLayerName] : notCompletedTraficLayerName,
          [imperfectTraficLayerName] : imperfectTraficLayer,
        }

        function toggleLegend(e)
        {
          if (!legendNameLayerMap.hasOwnProperty(e.name)){
            return;
          }

          if ( e.type == "overlayadd")
          {
            map.addLayer(legendNameLayerMap[e.name]) ;
            e.layer.bringToBack() ;
          }
          else {
            map.removeLayer(legendNameLayerMap[e.name]) ;            
          }
        }

        // Add control to display or hide layers
        const overlayLayers = {
          [notCompletedTraficLayerName]: notCompletedTraficLayer,
          [imperfectTraficLayerName]: imperfectTraficLayer,
          [completedTraficLayerName]: completedTraficLayer
        };
        L.control.layers(null, overlayLayers, {position: "topright", collapsed: false}).addTo(map);

        // Add event listeners to display/hide legend items
        map.on("overlayremove overlayadd", toggleLegend) ;

        displayProgressBars();
    })();
    </script>
    <ul class="legend">
      <li><span class="grey"></span>Non réalisé</li><br>      
      <li><span class="orange"></span>Réalisé – Non satisfaisant</li><br>
      <li><span class="green"></span>Réalisé – Satisfaisant</li><br>
    </ul>
 </div>
</div>
