<p>Nous concevons notre carte à partir des données sur <a href="https://data.paysdelaloire.fr/">data.paysdelaloire.fr</a> et des observations par les citoyens, des informations remontées par les élus et services. </p>


<p>Le pourcentage d'avancement est calculé par rapport à ce qui est observable. Il ne prend pas en compte les phases d'études préalables</p>

<p>L’Observatoire est mis à jour régulièrement, au fur et à mesure des réalisations. Les citoyens sont invités à nous signaler les écoles où le dispositif est mis en place ou modifié.</p>
