<script>
  var start = new Date("04/05/2014");;
  var end = new Date("04/05/2020");
  var percentTimeElapsed = percent(start, end);

  function percent(start, end) {
    var now = new Date();
    return Math.round(Math.max(0, Math.min(100, (100.0 * (now - start)) / (end - start))));
  }
  // display
  function disp(value, element, text) {
    var progressBar = document.getElementById(element);
    progressBar.style.width = value + "%";
    if (text) {
      progressBar.innerHTML = text;
    }
    else {
      progressBar.innerHTML = value + "%";
    }
    progressBar.setAttribute("aria-valuenow", value);

    // Adapt color of progress bar if different from bar for time elapsed
    if (element != "timebar" && element.indexOf("piste") == -1) {
      if (value > percentTimeElapsed || (percentTimeElapsed - value) < 10)
        progressBar.className += " progress-bar-success";
      else if (value / percentTimeElapsed > 0.5)
        progressBar.className += " progress-bar-warning";
      else
        progressBar.className += " progress-bar-danger";
    }
  }

  window.onload = function () {
    disp(percentTimeElapsed, 'timebar');
    $('[data-toggle="tooltip"]').tooltip();
  }
</script>
<style>
  .progress-bar-secondary {
    background-color: #868e96
  }

  .progress-striped .progress-bar-secondary {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
  }
</style>
<div class="panel panel-default">
  <div class="panel-body">
    Avancement de l'écomobilité scolaire à Nantes
    <div class="progress">
      <div id="nantesSchoolProgressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100" style="width:0%" data-toggle="tooltip"
        title="Nombre d'école avec une mise en place satisfaisante de l'écomobilité scolaire">
      </div>
    </div>
    Temps de mandature écoulé
    <div class="progress">
      <div id="mandateTimeProgressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
        style="width:0%" data-toggle="tooltip" title="Temps écoulé depuis le 24 septembre 2020 (fin supposée 05/04/2026)">
      </div>
    </div>
  </div>
</div>