---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Width of the content area
$content-width:    1000px;
$on-palm:          770px;
$on-laptop:        1000px;

$spacing-unit: 30px !default;
$grey-color: #828282 !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$grey-color-dark: darken($grey-color, 25%) !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import "minima";

.site-title {
  @include relative-font-size(1.1);
  letter-spacing: -1px;
  letter-spacing: 0.05vmin;
}

#videoFrame {
  width:100%;
  height:350px;
  height:50vmin;
}

#mapFrame {
  width:100%;
  height:500px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.marker-popup h4 {
  font-weight: bolder;
}

.hiddenElement { visibility:hidden; }

/* map legend: item position */
.legend { list-style: none; margin-top: 12px; }
.legend li { float: left; margin-right: 10px; }
.legend span { border-radius: 25px; float: left; width: 40px; height: 12px; margin: 2px; }
/* map legend: item color */
.legend .grey { background-color: #adadad; }
.legend .green { background-color: #228b22; }
.legend .orange { background-color: #ffa500; }
.legend .red { background-color: #ff0000; }
.legend .darkblue { background-color: #337ab7; }
.legend .blue { background-color: #3456d9 ; background-color: rgba(52,86,217,0.4); }

/* image caption */
.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        font-size: 13px;
        margin-top: $spacing-unit / 3;
    }
}

/* pagination */
ul.pager { text-align: center; list-style: none; }
ul.pager li {display: inline;border: 1px solid grey; padding: 10px; margin: 5px; border-radius: 10px;}

/* search box */
#search-input {
  width:98%;
  border: 1px solid $grey-color;
  padding: 4px 4px;
  border-radius: 4px;
  background-image: url('images/search.png');
  background-position: right 6px top 7px;
  background-repeat: no-repeat;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font: inherit;
}

.footer-col-heading {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-search {
  width: -webkit-calc(67% - (#{$spacing-unit} / 2));
  width:         calc(67% - (#{$spacing-unit} / 2));
}

.footer-col-1 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(42% - (#{$spacing-unit} / 2));
  width:         calc(42% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-heading,
  .footer-col-search,
  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/* disable bootstrap box-sizing http://stackoverflow.com/questions/34790054/css-disable-bootstrap-box-sizing */
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
