---
layout: default
---
{% include progress.html %}

<h2>Ecomobilité Scolaire</h2>
{% include map-ecomobilitescolaire-nantes.html %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Méthodologie de construction de l’observatoire</h3>
  </div>
  <div class="panel-body">
    <article class="post">
      <div class="post-content">
        {% include methode.html %}
      </div>
    </article>
  </div>
</div>
